.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #282c34;
  overflow-x: hidden;
}

.appHeader {
  height: 8rem;
  color: blanchedalmond;
  text-decoration: none;
  font-size: xx-large;
  font-weight: 500;
  padding: 4rem;
}

.mainPage {
  height: 50vh;
}

.buttons {
  margin: 1.5rem;
}
