.body {
  display: flex;
  flex-wrap: wrap;
  font-size: large;
  justify-content: center;
  font-weight: 500;
  color: blanchedalmond;
}

.items-display {
  width: 100vw;
  padding-top: 2rem;

  background-color: #282c34;
}

.section-title{
  color: #ffd8d8;
  margin-top: revert;
}

.items-display-minimum {
  width: 100vw;
  height: 100vh;
  padding-top: 2rem;

  background-color: #282c34;
}

.header {
  width: 98vw;
  margin: auto;
}
